// Main Colors
$primary-color: #3d5afe;
$accent-color: #ff6e40;

// Text Colors
$primary-text: #2e2f30;
$secondary-text: #4d4d4d;
$tertiary-text: #636363;

// Background Colors
$primary-background: #d6d6d6;
$secondary-background: #f0f0f0;

// Fonts
$sans: "IBM Plex Sans", sans-serif;
$serif: "IBM Plex Serif", serif;
$mono: "IBM Plex Mono", monospace;
