// Main Colors
$primary-color: #3d5afe;
$accent-color: #ff6e40;

// Text Colors
$primary-text: #ddddde;
$secondary-text: #92a2ab;

// Background Colors
$primary-background: #090a0a;
$secondary-background: #191b1f;

// Fonts
$serif-font: "IBM Plex Serif", serif;
$sans-font: "IBM Plex Sans", sans-serif;
