// Main Colors
$primary-color: #3d5afe;
$accent-color: #ff6e40;

// Text Colors
$primary-text: #2e2f30;
$secondary-text: #4d4d4d;

// Background Colors
$primary-background: #d6d6d6;
$secondary-background: #f0f0f0;

// Fonts
$sans: "PT Sans", sans-serif;
$serif: "PT Serif", serif;
